body{
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*:focus {
  outline: none;
}
.content{
  height: 100%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
input{
  min-height: 40px;
  box-sizing: border-box;
  border: 0;
}
input[type = 'text']{
  min-width: 400px;
  border: 2px solid grey;
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
}
input[type = 'submit']{
  background-color: grey;
  color: white;
  border: 2px solid grey;
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  cursor: pointer;
}
form{
  display: flex;
  /* width: 500px; */
  min-width: 400px;
}
.search_container{
  min-height: 5%;
  display: flex;
}
.btn_container{
  min-height: 5%;
  background-color: grey;
  width: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  gap: 2px;
  overflow: hidden;
}
.main_content{
  min-height: 70%;
}
.slider{
  background-color: white;
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.selected{
  background-color: grey;
}